@import "../config/variables";

.iconWineglass:before {
  content: "\e900";
  color: $color-tory-blue;
}
.iconWify:before {
  content: "\e901";
  color: $color-tory-blue;
}
.iconUsers:before {
  content: "\e902";
  color: $color-tory-blue;
}
.iconUser:before {
  content: "\e903";
  color: $color-dusty-gray;
}
.iconTwitter:before {
  content: "\e904";
  color: $color-white;
}
.iconTag:before {
  content: "\e905";
  color: $color-tory-blue;
}
.iconSun:before {
  content: "\e906";
  color: $color-tory-blue;
}
.iconPlus:before {
  content: "\e907";
  color: $color-white;
}
.iconPins:before {
  content: "\e908";
  color: $color-tory-blue;
}
.iconPin:before {
  content: "\e909";
  color: $color-tory-blue;
}
.iconPalm:before {
  content: "\e90a";
  color: $color-tory-blue;
}
.iconNetwork:before {
  content: "\e90b";
  color: $color-tory-blue;
}
.iconLight:before {
  content: "\e90c";
  color: $color-tory-blue;
}
.iconInstagram:before {
  content: "\e90d";
  color: $color-white;
}
.iconHome:before {
  content: "\e90e";
  color: $color-tory-blue;
}
.iconHeart:before {
  content: "\e90f";
  color: $color-tory-blue;
}
.iconGlass:before {
  content: "\e910";
  color: $color-tory-blue;
}
.iconGadgets:before {
  content: "\e911";
  color: $color-tory-blue;
}
.iconFoodStaff:before {
  content: "\e912";
  color: $color-tory-blue;
}
.iconFoodStaff22:before {
  content: "\e913";
  color: $color-tory-blue;
}
.iconFlag:before {
  content: "\e914";
  color: $color-tory-blue;
}
.iconFilm:before {
  content: "\e915";
  color: $color-tory-blue;
}
.iconFacebook:before {
  content: "\e916";
  color: $color-white;
}
.iconEvent:before {
  content: "\e917";
  color: $color-tory-blue;
}
.iconDisplay:before {
  content: "\e918";
  color: $color-tory-blue;
}
.iconCup:before {
  content: "\e919";
  color: $color-tory-blue;
}
.iconClose:before {
  content: "\e91a";
  color: $color-tory-blue;
}
.iconCheck:before {
  content: "\e91b";
  color: $color-tory-blue;
}
.iconChat:before {
  content: "\e91c";
  color: $color-tory-blue;
}
.iconCar:before {
  content: "\e91d";
  color: $color-tory-blue;
}
.iconBell:before {
  content: "\e91e";
  color: $color-tory-blue;
}
.iconBall:before {
  content: "\e91f";
  color: $color-tory-blue;
}
.iconBag:before {
  content: "\e920";
  color: $color-tory-blue;
}
.iconBadge:before {
  content: "\e921";
  color: $color-tory-blue;
}
.iconAirplane:before {
  content: "\e922";
  color: $color-tory-blue;
}
.iconCheckedBadge:before {
  content: "\e923";
  color: #104a9e;
}
.iconInstagramNew:before {
  content: "\e925";
  color: #fff;
}